using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace NHK.Timetable.StoreApp
{
    public class ApiKey
    {
        // Tokenに値を入れて、User.configにリネームするとその値を使用します
        public const string Token = @"YourToken";
    }
}
